@import "variables";

#menu {
  background-image: url(../img/fond_menu_repeat.png);
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  border: none;

  ul {
    padding: 0;
    margin: 0;

    li {
      width: calc(100% / 6);
      float: left;
      list-style: none;
      line-height: 50px;
      display: inline-block;
      text-align: center;
      height: $height_menu;
      padding: 0;
      margin: 0;
      min-width: 100px;

      &.active {
        a {
          color: $millerf_red;
        }
      }

      a {
        text-decoration: none;
        color: #000;
        display: block;
      }
    }
  }
}
