/* You can add global styles to this file, and also import other style files */
@import "../fonts/fonts.css";
@import "fullpage.scss";
@import "variables";

body {
  font-family: "VAGRoundedStdThin";
  padding: 0;
  margin: 0;
  background-image: url(../img/bg_content.png);
}




