<millerf-web-splashscreen
  *ngIf="!removeSplashscreen" [displaySplashscreen]="displaySplashscreen"></millerf-web-splashscreen>


<millerf-web-menu></millerf-web-menu>


<div id="content-wrapper" #contentWrapper>

  <div *ngFor="let section of dataService.getiDsplayedSections()" class="section">
    <div *ngFor="let subsection of section.subsections"
         [ngClass]="{'slide': section.subsections.length > 1}">
      <h1>{{subsection.title}}</h1>
      <div>
        <p [innerHTML]="subsection.text">

        </p>
        <div class="techused">
          <ul>
            <li>test</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="contact_section">
    <h1>Contact</h1>
    <millerf-web-contactform></millerf-web-contactform>
  </div>

</div>
