<millerf-web-splashscreen
  *ngIf="!removeSplashscreen" [displaySplashscreen]="displaySplashscreen"></millerf-web-splashscreen>


<millerf-web-menu></millerf-web-menu>

<div id="backToProject" *ngIf="previousAnchor!=null && slideLoaded">
  <a [href]="previousAnchor.getAnchor()"> < {{previousAnchor.title}}</a>
</div>

<div id="content-wrapper" #contentWrapper>


  <div class="section" id="presentation_section">
    <div>
      Miller/F is a company that allows you and our business to develop a customed web identity. <br/>
      Based on the latest technologies such as
      <a [href]="dataService.angular2.getAnchor()">Angular</a>
      and
      <a (click)="clickTechnology(dataService.presentation)" [href]="dataService.ionic.getAnchor()">Ionic</a> for the front-end and
      <a (click)="clickTechnology(dataService.presentation)" [href]="dataService.python_django.getAnchor()">Python / Django</a>
      for the back-end (server and administration).
      <br/>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor placerat justo, ac laoreet orci finibus vitae. Suspendisse vitae efficitur diam. Aenean ac eros leo. In nec odio felis. Fusce mattis convallis ante. Nullam cursus diam et semper tincidunt. In hac habitasse platea dictumst. Nullam pulvinar tortor nisl, id dapibus leo suscipit nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris in pretium nibh. Cras auctor, mauris non interdum suscipit, massa ipsum congue tellus, vitae ultrices quam est a arcu. Fusce sit amet commodo magna. In quis leo in risus consectetur eleifend in in purus. Suspendisse mattis sagittis sem at pulvinar. Nulla bibendum erat eu risus ultricies euismod.
<br/>
      Ut felis purus, iaculis vitae elit eget, venenatis rutrum nisl. Fusce porta egestas urna et dictum. Mauris in elit at justo porttitor ullamcorper. Mauris in tortor interdum, rhoncus purus eu, mattis risus. Pellentesque fermentum tristique ornare. In faucibus elementum metus, ut pulvinar ligula auctor nec. Aliquam cursus sed diam quis faucibus. Mauris a nibh mi. Donec porttitor finibus magna non volutpat. Etiam in lacinia purus, a ultrices sem. Aliquam ultrices sodales ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed porttitor facilisis elit at fermentum. Suspendisse odio orci, malesuada sit amet aliquet sed, porta in diam. Donec ipsum dui, blandit tempor odio eget, vulputate fermentum justo. Aliquam convallis purus sit amet nibh eleifend venenatis.
      <br/>
      Maecenas ut dui libero. Sed varius elit sit amet urna porta, sit amet fringilla ligula consectetur. Proin ac erat vitae arcu gravida aliquet ac nec eros. Etiam venenatis vel ex id congue. Phasellus metus felis, cursus vel maximus at, porttitor a lectus. Integer blandit elementum nibh, a sollicitudin urna blandit sagittis. Suspendisse tincidunt, nisl eu pretium mattis, lacus ipsum porttitor nibh, interdum auctor turpis purus a tellus. Etiam a tortor mattis, iaculis justo eu, ornare nisi.


    </div>
  </div>


  <div *ngFor="let section of dataService.getDisplayedSections()"
       class="section">

    <millerf-web-subsection
        *ngFor="let subsection of section.subsections"
        (clickTechnology)="clickTechnology($event)"
         [ngClass]="{'slide': section.subsections.length > 1}"
         [attr.data-anchor]="subsection.tag"
         [subsection]="subsection">
    </millerf-web-subsection>

  </div>

  <div class="section" id="contact_section">
    <h1>Contact</h1>
    <millerf-web-contactform></millerf-web-contactform>
  </div>

</div>
