<millerf-web-splashscreen
  *ngIf="!removeSplashscreen" [displaySplashscreen]="displaySplashscreen"></millerf-web-splashscreen>


<millerf-web-menu></millerf-web-menu>


<div id="content-wrapper" #contentWrapper>
  <div class="section" id="presentation_section">
    <millerf-web-github-ribbon
      address="millerf"></millerf-web-github-ribbon>

    <section class="description">
      <p class="text_highlighted">
        <span><i class="material-icons">build</i>Development</span>
        <span><i class="material-icons">assignment</i>Project Managment</span>
        <span><i class="material-icons">lightbulb_outline</i>Consulting</span>
      </p>
      <p>
        Miller/F is a company that allows you and our business to develop a customed web identity. <br/>
        Based on the latest technologies such as
        <a [href]="dataService.angular2.getAnchor()">Angular</a>
        and
        <a (click)="clickTechnology(dataService.presentation)" [href]="dataService.ionic.getAnchor()">Ionic</a> for
        the
        front-end and
        <a (click)="clickTechnology(dataService.presentation)" [href]="dataService.python_django.getAnchor()">Python /
          Django</a>
        for the back-end (server and administration).
        <br/>

      </p>
      <div id="scrollDown-wrapper">
        <img id="scrollDown" src="assets/img/scrolldown.png" class="animated infinite bounce">
      </div>
    </section>
  </div>


  <div *ngFor="let section of dataService.getDisplayedSections()"
       class="section">

    <millerf-web-subsection
      *ngFor="let subsection of section.subsections"
      (clickTechnology)="clickTechnology($event)"
      [ngClass]="{'slide': section.subsections.length > 1}"
      [attr.data-anchor]="subsection.tag"
      [subsection]="subsection"
      [previousAnchor]="previousAnchor"
      [slideLoaded]="slideLoaded">
    </millerf-web-subsection>

  </div>

  <div class="section" id="contact_section">
    <h1><i class="material-icons">mail</i>Contact</h1>
    <millerf-web-contactform></millerf-web-contactform>
  </div>

</div>
