<div id="splashscreen"
     [ngClass]="{'animated zoomOut': !displaySplashscreen}"
     *ngIf="!removeSplashscreen">
  <div id="logo">
    <h1>Coming soon</h1>
    <img class="animated infinite pulse" src="assets/img/logo.png" alt="MILLER/F">
    <p class="animated"
       [ngClass]="{
                    'fadeOutLeft': updateText,
                    'zoomInDown': !updateText
                  }"
    >{{splashScreenText}}...</p>
  </div>
</div>

<nav id="menu">
  <ul>
    <li data-menuanchor="projects"><a href="#projects">Projects</a></li>
    <li data-menuanchor="frontend" class="active"><a href="#frontend">Front-end</a></li>
    <li data-menuanchor="backend"><a href="#backend">Back-end</a></li>
    <li data-menuanchor="github"><a href="#github">Github / Gitlab</a></li>
    <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
  </ul>
</nav>


<div id="content-wrapper" [mnFullpage]="options"
>


  <div class="section">
    <div class="slide">
      <h1>Mozaik phase 1</h1>
      <div>
        <p>
          Mozaik is a domotic project composed of 3
        </p>
      </div>
    </div>

    <div class="slide">
      <h1>Mozaik phase 2</h1>
      <div>
        <p>
          Mozaik is a domotic project composed of 3
        </p>
      </div>
    </div>

    <div class="slide">
      <h1>Mozaik phase 3</h1>
      <div>
        <p>
          Mozaik is a domotic project composed of 3
        </p>
      </div>
    </div>


    <div class="slide">
      <h1>CG Spectrum</h1>
    </div>


    <div class="slide">
      <h1>Ramdam</h1>
    </div>
    <div class="slide">
      <h1>Project Mirador</h1>
      http://www.project-mirador.org/
    </div>
  </div>

  <div class="section">
    <div class="slide">
      <h1>AngularJS & Angular X</h1>
    </div>

    <div class="slide">
      <h1>Ionic</h1>
    </div>

    <div class="slide">
      <h1>HTML / CSS / SCSS / jQuery</h1>
    </div>
  </div>

  <div class="section">
    <div class="slide">
      <h1>Python django & Celery</h1>
    </div>

    <div class="slide">
      <h1>PHP / Miller/F Admin</h1>
    </div>

  </div>

  <div class="section">
    <div class="slide">
      <h1>Github / Travis CI</h1>
      <p>
        See me on Github
      </p>
    </div>
    <div class="slide">
      <h1>Gitlab / Gitlab CI</h1>
      <p>

      </p>
    </div>
  </div>
    <div class="section" id="contact_section">
      <h1>Contact</h1>
      <form #f="ngForm" (ngSubmit)="send_contact(f)" >
        <input #subject="ngModel"
               [(ngModel)]="subject_input"
               [ngClass]="{'error': this.contact_error && !subject.valid}"
               name="subject"
               required
               placeholder="subject" />
        <input [ngClass]="{'error': this.contact_error && !email.valid}"
               #email="ngModel"
               [(ngModel)]="email_input"
               email
               name="email"
               type="email"
               placeholder="email" />
        <textarea [ngClass]="{'error': this.contact_error && !message.valid}"
                  #message="ngModel"
                  [(ngModel)]="message_input"
                  name="message"
                  required
                  placeholder="Message">
        </textarea>
        <button [ngClass]="{'sent': contact_sent}">{{ !contact_sent ? 'Send' : 'Sent!'}}</button>
      </form>
    </div>

  </div>
