
<div class="menu-wrapper">
  <ul class="menu">
    <li data-menuanchor="menuAnchor1" class="active"><a href="#menuAnchor1">First section</a></li>
    <li data-menuanchor="menuAnchor2"><a href="#menuAnchor2">Second section</a></li>
    <li data-menuanchor="menuAnchor3"><a href="#menuAnchor3">Third section</a></li>
    <li data-menuanchor="menuAnchor4"><a href="#menuAnchor4">Fourth section</a></li>
  </ul>
</div>


<div id="content-wrapper" [mnFullpage]="options"
     [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     mnFullpageSlidesNavPosition="bottom">

  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <h1>Angular X fullPage.js</h1>
      <h4>Create Beautiful Fullscreen Scrolling Websites (now with Angular 2 and above)!</h4>
      <img class="logo-image" src="https://raw.githubusercontent.com/meiblorn/ng2-fullpage/develop/logo.png"/>
    </div>
  </div>

  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <h1>Angular X fullPage.js</h1>
      <h4>Create Beautiful Fullscreen Scrolling Websites (now with Angular 2 and above)!</h4>
      <img class="logo-image" src="https://raw.githubusercontent.com/meiblorn/ng2-fullpage/develop/logo.png"/>
    </div>
  </div>

  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <h1>Angular X fullPage.js</h1>
      <h4>Create Beautiful Fullscreen Scrolling Websites (now with Angular 2 and above)!</h4>
      <img class="logo-image" src="https://raw.githubusercontent.com/meiblorn/ng2-fullpage/develop/logo.png"/>
    </div>
  </div>

  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <h1>Angular X fullPage.js</h1>
      <h4>Create Beautiful Fullscreen Scrolling Websites (now with Angular 2 and above)!</h4>
      <img class="logo-image" src="https://raw.githubusercontent.com/meiblorn/ng2-fullpage/develop/logo.png"/>
    </div>
  </div>
</div>
