<section #section>

  <div *ngIf="subsection.extra != null" [innerHTML]="subsection.extra | keepHtml">
  </div>


  <div class="techused" #techused
       *ngIf="subsection.isProject && subsection.technologies.length > 0">
    <div id="backToProject" *ngIf="previousAnchor!=null && slideLoaded" class="animated fadeIn">
      <a [href]="previousAnchor.getAnchor()"> < {{previousAnchor.title}} <br/><img src="{{previousAnchor.mainImageUrl}}"/></a>
    </div>
    <h4>Technologies:</h4>
    <ul>
      <li *ngFor="let tech of subsection.technologies">
        <a [href]="tech.getAnchor()" (click)="clickTechnology.emit(subsection)">{{ tech ? tech.title : ''}}</a>
      </li>
    </ul>
  </div>

  <div class="techused" #techused2
       *ngIf="!subsection.isProject" >
    <div id="backToProject" *ngIf="previousAnchor!=null && slideLoaded" class="animated fadeIn  ">
      <a [href]="previousAnchor.getAnchor()"> < {{previousAnchor.title}}<br/> <img src="{{previousAnchor.mainImageUrl}}"/></a>
    </div>
    <h4>Projects:</h4>
    <ul>
      <li *ngFor="let tech of subsection.projects">
        <a [href]="tech.getAnchor()" (click)="clickTechnology.emit(subsection)">{{ tech ? tech.title : ''}}</a>
      </li>
    </ul>
  </div>

  <div class="text-content">
    <div class="images">
      <div *ngFor="let img of subsection.images" class="thumbnail">
        <a href="{{img}}" data-lightbox="subsection.title">
          <img src="{{img}}"/>
        </a>
      </div>
    </div>

    <img class="logo" src="{{subsection.mainImageUrl}}"/>

    <h1>{{subsection.title}}</h1>

    <millerf-web-github-ribbon
      *ngIf="subsection.github != null"
      [address]="subsection.github"></millerf-web-github-ribbon>

    <div class="description">
      <p [innerHTML]="subsection.text" class="text_highlighted"></p>
      <p [innerHTML]="subsection.text2" class="text"></p>
    </div>
  </div>
</section>
